<div class="widget-profile">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12">
            <div class="profile__image">
                <img src="{{avatarPath}}" alt="Xinjie Hu" class="img-responsive" />
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12">
            <div class="profile__info">
                <h1 class="profile__name">Hu Xinjie</h1>
                <h4 class="profile__title">Full Stack Developer</h4>
                <h4 class="profile__title">Technical Artist</h4>
                <h6 class="profile__location">
                    <i class="fa fa-map-pin" aria-hidden="true"></i> 
                    Abu Dhabi, UAE
                </h6>
            </div>
            <div class="profile__social">
                <a href="https://www.facebook.com/kosam0913" target="_blank" rel="noopener noreferrer" aria-label="Facebook Profile">
                    <i class="fab fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/xinjie-hu-574070125/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn Profile">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/kosam0913" target="_blank" rel="noopener noreferrer" aria-label="GitHub Profile">
                    <i class="fab fa-github" aria-hidden="true"></i>
                </a>
                <a href="mailto:kosam0913@gmail.com" target="_blank" rel="noopener noreferrer" aria-label="Email Contact">
                    <i class="fas fa-envelope" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
